<form class="space-y-5 max-w-md max-mobile:max-w-[95%] m-auto h-max absolute top-0 bottom-0 left-0 right-0 rounded-lg">
  <div class='text-center px-4'>
    <h6 class="font-bold">Set a new password</h6>
    <p class="font-light">Set a new password that's long, strong, and memorable. Like a good superhero movie.</p>
  </div>
  <div class="px-4">
    <p-floatlabel variant="on">
      <input pInputText pSize="large" class="w-full" type="password" id="password" name="password" required />
      <label for="password">New Password</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="mt-4">
      <input pInputText pSize="large" class="w-full" type="password" id="confirmPassword" name="confirmPassword" required />
      <label for="confirmPassword">Confirm Password</label>
    </p-floatlabel>
  </div>
  <div class="px-4">
    <p-checkbox inputId="logoutAllDevices" value="true"  />
    <label for="logoutAllDevices" class="ml-2 font-light">Log out from all devices</label>
  </div>
  <div class="px-4">
    <p-button severity="contrast" size="large">Save new password</p-button>
  </div>
</form>
