<form class="space-y-5 max-w-md max-mobile:max-w-[95%] m-auto h-max absolute top-0 bottom-0 left-0 right-0 rounded-lg">
  <div class='text-center px-4'>
    <h6 class="font-bold">Reset your password</h6>
    <p class="font-light">We'll send you instructions to reset your password and get you back on track.</p>
  </div>
  <div class="px-4">
    <p-floatlabel variant="on">
      <input pInputText pSize="large" class="w-full" type="email" id="email" name="email" required />
      <label for="email">Email</label>
    </p-floatlabel>
    <p-button severity="contrast" size="large">Email me</p-button>
  </div>
  <div class="px-4">
    <p class="text-sm text-center text-gray-500">
      No need to reset your password? Go back to
      <span (click)="navigateToLogin()" class="underline text-black cursor-pointer hover:no-underline hover:text-gray-500">Sign in</span>.
    </p>
  </div>
</form>
