<main class="space-y-5 max-w-md max-mobile:max-w-[95%] m-auto h-max absolute top-0 bottom-0 left-0 right-0 rounded-lg">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <div class="text-center w-full">Send Files</div>
      </p-tab>
      <p-tab value="1">
        <div class="text-center w-full">Request Files</div>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-send-files />
      </p-tabpanel>

    </p-tabpanels>
  </p-tabs>
</main>
